@model IEnumerable<FrindlyBot_LiB.Models.Reservations>
@{
    ViewData["Title"] = "Borrowed";
}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <h2>Issued Reservation</h2>
        <form asp-action="Borrowed">
            <div class="input-group md-form form-sm form-2 pl-0">
                <input name="wmail" class="form-control my-0 py-1 red-border" type="text" placeholder="Search" />

                <button class="btn btn-outline-success" id="basic-text1" type="submit">Search</button>

            </div>
        </form>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>

                <a asp-action="ReturnBook" asp-route-id="@item.ReservationID">Return</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts{
    <script>
        $(function () {
            $("#basic-text1").click(function () {
                $("form").submit();
            })
        })
    </script>
}